---
layout: default
title: Beginner's Index
---

<h1>{{ page.title }}</h1>
<p>&nbsp;</p>

{% capture categories %}
  {% for category in site.categories %}
    {{ category[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedcategories = categories | split:' ' | sort %}

{% for category in sortedcategories %}
  {% if category == 'beginner' %}
  <ul>
  {% for post in site.categories[category] %}
    <li>
      {% include postlistitem.html %}
    </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endfor %}