* {
	font-family:Inconsolata, sans-serif;
	margin:0px;
}
html,body{
	height: 100%;
	min-height: 100%;
	margin: 0px;
	width: 100%;
}
table,td,tr{
	margin :0px;
	padding: 0px;
}
/* welcome message in the terminal */
.welcome{
	font-weight:bold;
	font-style: italic;
}
/* <p> which contains the text */
.terminal-text{
	width: 100%;
	height: 100%;
	margin:0px;
}
/* the main part of the site*/
.terminal{
	margin:0px;
	background-color: black;
	color: rgb(0,255,0);
	float:left;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.blink {
	font-size:120%;
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
	to { visibility: hidden; }
}
@-webkit-keyframes blink {
	to { visibility: hidden; }
}
